aws_region     = "us-east-1"
regionDefault = "us-east-1"
cluster_name   = "<cluster-name>"
cluster_version = "1.32"
db_host     = "meu-db.c7sjsfoh52si.us-east-1.rds.amazonaws.com"
db_name     = "postgres"
db_user     = "fastfood"
db_password = "Teste123"
projectName    = "<cluster-name>"
nodeGroup      = "fastfood-node"
labRole        = "arn:aws:iam::<account>:role/LabRole"  # Substitua se necessário
instanceType   = "t3.small"
